header {
    height: 10vh;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 20px;
}

header h1 span {
    color: blueviolet;
}

header nav {
    width: 200px;
    height: 100%;
}

header nav ul {
    padding-inline-start: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li button {
    background-color: blueviolet;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 7px;
    transition: background-color 1s;
}

header nav ul li button:hover {
    background-color: rgb(109, 33, 180);
}

header nav ul li button .nav-link {
    color: white;
    font-size: 15px;
    text-decoration: none;
}

main {
    height: 80vh;
    background-image: url("../../assets/images/home-bg.jpg");
    background-size: cover;
    background-position: 25% 75%;
    display: flex;
    justify-content: center;
}

main .home-introduction {
    margin-top: 100px;
    text-align: center;
}

main .home-introduction h2 {
    font-size: 30px;
}

main .home-introduction p {
    font-size: 18px;
}

footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}